#tank{
    position: relative;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
}

#battle{
    border: 1px solid black;
    height: 190px;
    width: 190px;
    background-color: black;
}

button{
    margin-top: 20px;
    text-align: center;
}

.button{
    width: 190px;
    text-align: center;
}